* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000000; }

html, body {
  overflow-x: hidden;
  height: auto; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 8px 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: #fff;
  width: 100%;
  color: #000; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #A9A9A9; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #A9A9A9; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #A9A9A9; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #A9A9A9; }

input {
  border: 1px solid #787878;
    border-radius: 8px;
  height: 40px; }

button {
  border: none;
  padding: 0;
  cursor: pointer; }

.label-text {
  color: #0C1B36;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif; }

label {
  display: block;
  margin: 0 0 22px; }

.label-group {
  text-align: center; }
  .label-group input {
    width: 142px;
    margin: 0 7px;
    padding: 0 5px;
    text-align: center; }

.form {
  max-width: 368px;
  width: 100%;
  margin: 0 auto; }
  .form a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto; }
  .form button, .form .btn {
    max-width: none;
    margin: 27px auto 0;
    width: 100%; }

.container {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  position: relative; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 40px;
  border: none;
    border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  max-width: 240px;
  border-radius: 4px; }

.btn-white {
  background: #fff;
  color: #F36A22; }
  .btn-white:hover {
    -webkit-box-shadow: 0px 17px 9px -8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 17px 9px -8px rgba(0, 0, 0, 0.25);
    background: #fff;
    color: #F36A22; }

.btn-accent {
  background: #F36A22;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }
  .btn-accent:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFC6A9), to(#FF5800));
    background: linear-gradient(180deg, #FFC6A9 0%, #FF5800 100%);
    color: #fff;
    -webkit-box-shadow: 0px 20px 10px -10px rgba(243, 106, 34, 0.32);
            box-shadow: 0px 20px 10px -10px rgba(243, 106, 34, 0.32); }
  .btn-accent:focus {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF5800), to(#FFC6A9));
    background: linear-gradient(180deg, #FF5800 0%, #FFC6A9 100%);
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-menu {
  display: none;
  height: 42px; }

.list-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 55px 0 auto; }
  .list-lang li {
    margin: 0 16px 0 0; }
    .list-lang li:last-child {
      margin: 0; }
    .list-lang li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 36px;
      height: 24px; }
      .list-lang li a img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }

h1 {
  width: 100%;
  font-size: 52px;
  font-weight: bold;
  margin: 0 0 25px;
  text-transform: uppercase; }
  h1 span {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9660), to(#F36A22));
    background: linear-gradient(180deg, #FF9660 0%, #F36A22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

h2 {
  width: 100%;
  font-size: 52px;
  font-weight: bold;
  text-align: center; }
  h2 span {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9660), to(#F36A22));
    background: linear-gradient(180deg, #FF9660 0%, #F36A22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.f-none {
  fill: none;
  stroke: #058F2C; }
  .f-none .path-stroke {
    fill: #058F2C;
    stroke: #058F2C; }
  .f-none .path-fill {
    fill: #058F2C;
    stroke: #058F2C; }

.w-100 {
  width: 100%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.color-gold {
  width: 100%;
  color: #F36A22; }

header {
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  position: fixed;
  padding: 10px 0;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .logo {
    display: none;
    max-width: 100px; }

.scroll {
  background: #F36A22; }
  .scroll .menu, .scroll .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.logo {
  max-width: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 36px;
  font-size: 18px;
  font-weight: 500; }
  .menu li {
    margin: 0 32px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #fff; }

.video-iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.trend-strategies {
  padding: 60px 0 50px;
  position: relative;
  background: #fff; }
  .trend-strategies h2 {
    margin: 0 0 16px; }
  .trend-strategies .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .trend-strategies::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(57.52%, rgba(243, 243, 248, 0.4))), url("../img/bg1.jpeg") no-repeat center top;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(243, 243, 248, 0.4) 57.52%), url("../img/bg1.jpeg") no-repeat center top;
      background-size: cover;
    opacity: 0.4; }
  .trend-strategies .box-text strong {
    display: inline; }

.trend-strategies__left {
  max-width: 877px;
  width: 100%;
  margin: 0 47px 0 0; }
  .trend-strategies__left .box-text {
    font-weight: 500; }

.box-text {
  line-height: 140%;
  font-size: 18px; }
  .box-text p {
    margin: 0 0 30px; }
    .box-text p:last-child {
      margin: 0; }

.trend-strategies__right {
  font-size: 20px;
  margin: 0 -88px 0 0;
  text-align: center;
  max-width: 866px;
  min-width: 866px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #F36A22;
    border-radius: 4px;
  -webkit-box-shadow: 0px 38px 15px -22px rgba(117, 117, 238, 0.1);
          box-shadow: 0px 38px 15px -22px rgba(117, 117, 238, 0.1);
  padding: 8px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .trend-strategies__right h3 {
    margin: 0 auto 24px;
    font-weight: bold;
    font-size: 24px; }
    .trend-strategies__right h3 span {
      background: -webkit-gradient(linear, left top, left bottom, from(#FF9660), to(#F36A22));
      background: linear-gradient(180deg, #FF9660 0%, #F36A22 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.trend-strategies__img {
  max-width: 182px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.trend-strategies__text {
  width: calc(100% - 182px);
  text-align: left;
  margin: 0 0 0 128px;
  max-width: 390px; }
  .trend-strategies__text p {
    line-height: 140%;
    font-weight: 600;
    font-size: 18px; }

.trend-strategies-bottom {
  margin: 56px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.video-box {
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
  height: 517px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .video-box iframe {
    width: 100%;
    height: 100%; }
  .video-box img {
    width: 100%;
    max-height: 100%;
    -webkit-box-shadow: 0px 39px 23px -22px rgba(2, 42, 106, 0.24);
            box-shadow: 0px 39px 23px -22px rgba(2, 42, 106, 0.24); }

.mission {
  padding: 80px 0 164px; }
  .mission h2 {
    margin: 0 auto 49px; }
  .mission .box-text {
    font-weight: 500; }

.decor-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #fff; }

.decor-bg-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 708px; }

.decor-bg-item1 {
  top: -236px;
  left: -164px; }

.decor-bg-item2 {
  bottom: -250px;
  left: -164px; }

.decor-bg-item3 {
  top: -236px;
  right: -123px; }

.decor-bg-item4 {
  bottom: -250px;
  right: -123px; }

.strong {
  font-weight: bold; }

strong {
  display: inline-block;
  font-weight: bold; }

.color-gradient {
  color: #F36A22;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF9660), to(#F36A22));
  background: linear-gradient(180deg, #FF9660 0%, #F36A22 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.mission-content {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }

.advantages {
  background: #fff;
  position: relative;
  overflow: hidden;
  padding: 86px 0 63px; }
  .advantages:before {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background: url("../img/business-bg.jpg") no-repeat center bottom;
      background-size: cover; }
  .advantages h2 {
    width: 100%;
    margin: 0 auto 66px; }
  .advantages h6 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 0;
    width: 100%; }

.advantages-icon {
  max-width: 286px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.advantages-content {
  width: 100%;
  max-width: 1024px;
  text-align: center;
  margin: 0 auto;
  color: #242334; }

.advantages-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.partners {
  padding: 82px 0 66px; }
  .partners h2 {
    margin: 0 auto 58px; }
  .partners .container {
    max-width: 1900px; }

.partners-box {
  background: #fff;
  width: 31.5%;
  min-height: 400px;
  margin: 0 0 30px;
  padding: 36px 25px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px #EAEDFB;
          box-shadow: 0px 1px 2px #EAEDFB;
  border-radius: 8px;
  border: 1px solid #143879;
    border-radius: 8px;
  font-size: 18px;
  line-height: 140%;
  color: #0C1B36; }
  .partners-box a.color-gradient {
    margin: auto auto 0;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 20px;
    font-weight: 500; }
  .partners-box__text {
    margin: 0 0 10px; }

.partners-box__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 140px;
  margin: 0 auto 27px; }
  .partners-box__logo img {
    max-height: 100%; }

.partners-box-one .partners-box__logo {
  max-width: 120px; }

footer {
  color: #fff;
  background: url("../img/footer-bg.jpg") no-repeat center top;
    background-size: cover;
  padding: 47px 0 38px;
  font-size: 14px; }
  footer .logo {
    max-width: 150px;
    margin: 0 23px 0 0; }
  footer .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 18px; }
  .mail .mail-text {
    text-decoration: underline; }
  .mail .svg-icon {
    stroke: #fff;
    fill: none;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 9px 0 0; }

.address {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 600;
  max-width: 335px;
  width: 100%; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 7px 0 20px; }
  .list-social li {
    margin: 0 24px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 24px;
      height: 24px;
      min-width: 24px; }
      .list-social li a svg {
        fill: #fff; }
    .list-social li .links-youtube {
      width: 35px;
      min-width: 35px; }

.footer-box-social {
  margin: 0 0 0 auto;
  text-align: right; }
  .footer-box-social p {
    margin: 0 0 7px;
    font-weight: 600; }

.copyright {
  font-size: 10px; }

.modal__div {
  position: fixed;
  max-width: 432px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }

.modal__close, .close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }
  .modal__close svg, .close-btn svg {
    stroke: #F36A22; }

.modal__wrapper {
  background: #FFFFFF;
  border: none;
    border-radius: 8px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  padding: 24px 20px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
  overflow: hidden; }
  .modal__wrapper::before {
    content: '';
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/bg5.jpeg") no-repeat center;
      background-size: cover; }
  .modal__wrapper > * {
    position: relative;
    z-index: 1; }
  .modal__wrapper .modal__close, .modal__wrapper .close-btn {
    position: absolute;
    z-index: 2; }
  .modal__wrapper h2 {
    font-size: 30px;
    margin: 0 auto 28px; }

.links-green {
  width: 100%;
  text-align: center;
  color: #F36A22;
  font-size: 18px; }

.overlay {
  position: fixed;
  display: none;
  background: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0.6; }

.btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 32px;
  color: #F36A22;
  font-size: 18px;
  padding: 0 0 0 12px; }
  .btn-next svg {
    stroke: #F36A22;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0 20px 0 0;
    fill: none; }

#modal-password {
  max-width: 464px; }
  #modal-password .modal__wrapper::before {
    background: url("../img/bg5.jpeg") no-repeat center;
      background-size: cover; }

#modal-success {
  max-width: 560px; }
  #modal-success .modal__wrapper::before {
    background: url("../img/bg5.jpeg") no-repeat center;
      background-size: cover; }
  #modal-success h2 {
    margin: 75px auto; }

#modal-changed-password .modal__wrapper::before {
  background: url("../img/bg5.jpeg") no-repeat center;
    background-size: cover; }

.mobile-menu {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  background: #F36A22;
  padding: 35px 24px 29px 40px;
  max-width: 288px;
  width: 100%;
  display: none;
  overflow-y: auto;
  height: 100%; }
  .mobile-menu .logo {
    top: 10px;
    left: 9px;
    position: absolute;
    max-width: 90px;
    width: 100%;
    margin: 0;
    display: none; }
  .mobile-menu .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
    .mobile-menu .menu li {
      margin: 0 0 23px;
      width: 100%; }
      .mobile-menu .menu li:last-child {
        margin: 0; }
      .mobile-menu .menu li a {
        text-align: right;
        font-size: 18px; }
  .mobile-menu .btn {
    margin: 40px 0 0 auto; }

.btn-close {
  width: 32px;
  height: 32px;
  margin: 0 7px 45px auto; }
  .btn-close svg {
    stroke: #fff; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1800px) {
  .trend-strategies__left {
    max-width: 730px; }
  h1 {
    font-size: 40px; } }

@media only screen and (max-width: 1580px) {
  .trend-strategies__left {
    max-width: 680px; }
  .trend-strategies__right {
    max-width: 748px; }
  .advantages-icon {
    max-height: 220px; }
  .advantages-content {
    max-width: 800px; } }

@media only screen and (max-width: 1500px) {
  h1 {
    font-size: 40px; }
  .trend-strategies__left {
    max-width: 612px;
    margin: 0 auto 0 0; }
  .trend-strategies__right {
    min-width: auto;
    margin: 0; }
  .trend-strategies__text {
    margin: 0 0 0 20px; }
  .advantages {
    padding: 48px 0 43px; }
    .advantages h2 {
      margin: 0 auto 38px; } }

@media only screen and (max-width: 1400px) {
  .menu {
    margin: 0 0 0 20px; }
    .menu li {
      margin: 0 20px 0 0; }
      .menu li a {
        font-size: 16px; }
  .trend-strategies__left {
    max-width: 976px;
    text-align: center;
    margin: 0 auto; }
  h1 {
    text-align: center;
    margin: 0 auto 25px; }
  .trend-strategies {
    padding: 68px 0 76px; }
    .trend-strategies .box-text p {
      margin: 0 0 16px; }
      .trend-strategies .box-text p:last-child {
        margin: 0; }
  .trend-strategies__right {
    margin: 32px auto;
    max-width: 688px;
    font-size: 18px; }
    .trend-strategies__right h3 {
      margin: 0 auto 24px; }
  .trend-strategies__text {
    margin: 0 0 0 54px;
    text-align: center; }
  .video-box {
    margin: 0 auto; }
  .clients .container {
    padding: 0 40px; }
  .trend-strategies-bottom {
    margin: 0; }
  .list-lang {
    margin: 0 24px 0 auto; }
  .advantages-icon {
    max-width: 180px; } }

@media only screen and (max-width: 1200px) {
  main {
    height: 704px; }
  header {
    padding: 18px 0; }
  .logo {
    max-width: 105px; }
  .list-lang li {
    margin: 0 16px 0 0; }
    .list-lang li a {
      width: 24px;
      height: 16px; }
  .menu li {
    margin: 0 15px 0 0; }
    .menu li a {
      font-size: 15px; }
  .trend-strategies .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .trend-strategies__right {
    max-width: 688px;
    margin: 72px auto 56px; }
  h1 {
    font-size: 52px; }
  .video-box {
    max-width: 740px;
    height: 416px; }
  .mission {
    padding: 80px 0 114px; }
  .advantages-icon {
    max-width: 235px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 34px; }
  .advantages-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .advantages h6 {
    margin: 20px auto 11px; }
  .advantages-content {
    max-width: 1008px; } }

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 25px; }
  .scroll .menu {
    display: none; }
  header {
    background: #F36A22; }
    header .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 105px; }
    header .btn {
      display: none; }
    header .btn-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 240px; }
  .list-lang {
    margin: 0 27px 0 auto; }
  .logo {
    max-width: 85px; }
  .partners {
    padding: 80px 0 22px; }
  .partners-box {
    width: 100%;
    margin: 0 0 32px;
    padding: 35px 40px 23px;
    min-height: auto; }
    .partners-box__text {
      margin: 0 auto auto; }
      .partners-box__text br {
        display: none; }
    .partners-box a.color-gradient {
      margin: 28px auto 0; }
  .partners-box__logo {
    margin: 0 auto 27px; }
  footer {
    padding: 40px 0 45px; }
    footer .logo {
      margin: 0 25px 0 0;
      max-width: 150px; }
  .decor-bg-item1 {
    top: -236px;
    left: -115px; }
  .decor-bg-item2 {
    bottom: -268px;
    left: -115px; }
  .decor-bg-item3 {
    top: -236px;
    right: -133px; }
  .decor-bg-item4 {
    right: -133px;
    bottom: -236px; } }

@media only screen and (max-width: 860px) {
  .container {
    padding: 0 10px; } }

@media only screen and (max-width: 768px) {
  footer {
    padding: 31px 0 63px;
    background: #F36A22 url("../img/footer-bg.jpg") no-repeat center bottom;
      background-size: 1920px; }
    footer .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    footer .logo {
      margin: 0 auto 21px;
      max-width: 142px; }
  .footer-box-social {
    margin: 44px auto 0;
    text-align: center; }
    .footer-box-social p {
      margin: 0; }
  .list-social {
    margin: 20px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .address {
    text-align: center;
    margin: 0 auto 12px; }
  .partners-box {
    padding: 10px 10px 30px;
    font-size: 16px;
    margin: 0 0 24px; }
    .partners-box a.color-gold {
      font-size: 18px;
      margin: 39px auto 0; }
  .partners-box__logo {
    height: 116px;
    margin: 0 auto 30px; }
  .partners h2 {
    margin: 0 auto 33px; }
  header {
    padding: 10px 0; }
  .btn-menu {
    max-width: 118px; }
  .list-lang {
    margin: 0 16px 0 auto; }
  h1, h2 {
    font-size: 40px; }
  .decor-bg-item1 {
    top: -190px;
    left: -450px; }
  .decor-bg-item2 {
    bottom: -209px;
    left: -450px; }
  .decor-bg-item3 {
    top: -190px;
    right: -448px; }
  .decor-bg-item4 {
    right: -448px;
    bottom: -209px; } }

@media only screen and (max-width: 675px) {
  .mission-content {
    width: 100%;
    padding: 0; }
  .mission {
    padding: 87px 0 103px;
    text-align: center; }
    .mission .box-text {
      font-size: 16px; }
  .advantages-icon {
    max-width: 200px;
    margin: 0 7px; }
  .advantages {
    padding: 43px 0 30px; }
    .advantages h6 {
      margin: 14px auto 36px; }
    .advantages h2 {
      margin: 0 auto 21px; }
  .trend-strategies {
    padding: 32px 0; } }

@media only screen and (max-width: 575px) {
  .partners {
    padding: 87px 0 44px; }
  .partners-box {
    width: 100%;
    padding: 20px 8px 32px;
    font-size: 16px;
    margin: 0 0 16px; }
    .partners-box a.color-gold {
      font-size: 18px; }
    .partners-box__logo {
      margin: 0 auto 20px; }
  .video-box {
    height: 207px;
    max-width: 370px; }
    .video-box img {
      border-radius: 10px;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-filter: drop-shadow(0px 16px 32px rgba(10, 121, 41, 0.08));
              filter: drop-shadow(0px 16px 32px rgba(10, 121, 41, 0.08)); }
  .trend-strategies {
    padding: 39px 0 19px; }
    .trend-strategies .box-text {
      font-size: 16px; }
  .trend-strategies__right {
    padding: 16px 20px 37px;
    margin: 48px auto 23px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 2px 8px #D7DCF5;
            box-shadow: 0px 2px 8px #D7DCF5; }
  .trend-strategies__text {
    width: 100%;
    padding: 0;
    margin: 0px auto; }
    .trend-strategies__text h3 {
      margin: 0 auto 25px; }
  .trend-strategies__img {
    margin: 0 auto 16px; }
  .mission h2 {
    margin: 0 auto 25px; }
  main {
    height: 254px;
    margin: 78px 0 0; }
  .mobile-menu {
    max-width: none; }
    .mobile-menu .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .btn-close {
    width: 24px;
    height: 24px;
    margin: 0 0 55px auto; }
  .mobile-menu {
    padding: 33px 15px 37px 10px; }
  .modal__wrapper {
    padding: 29px 16px 32px; }
    .modal__wrapper h2 {
      font-size: 24px;
      margin: 0 auto 23px; }
  .form button {
    height: 40px; }
  .modal__div, #modal-password, #modal-success {
    max-width: 360px; }
  .label-group input {
    margin: 0 1px; }
  .label-text {
    font-size: 16px; }
  .btn-next {
    padding: 0;
    margin: 0 0 23px; }
  #modal-success h2 {
    margin: 49px auto; }
  .box-text {
    font-size: 16px; }
  .advantages-icon {
    margin: 0 auto;
    max-width: 160px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  h2 {
    font-size: 36px; }
  h1 {
    font-size: 38px; }
  .partners-box {
    font-size: 14px; }
  .btn-menu {
    max-width: 100px;
    height: 40px; }
  .advantages-icon {
    max-width: 130px; } }
